@font-face {
	font-family: "Azeret Mono";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src:
		url(/fonts/azeret-mono-700.woff2) format("woff2"),
		url(/fonts/azeret-mono-700.woff) format("woff");
}
