@font-face {
	font-family: "Azeret Mono";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url(/fonts/azeret-mono-400.woff2) format("woff2"),
		url(/fonts/azeret-mono-400.woff) format("woff");
}
